body {
  margin: 20px;
  font-family: Courier New, Courier, monospace;
}

.avatar {
  width: 200px;
}

.card {
  width: 500px;
  margin: 0 auto;
  padding: 30px 10px 30px 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #f5f1ed;
  color: #252323;
  border-bottom: 10px solid #252323;
}

button {
  border: none;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

.link {
  color: #f5f1ed;
  text-decoration: none;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
